# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore Cytosim's specific stuff 
build
bin
lib
dep
bin1
bin2
bin3
*.cmo
*.cym
*.tar

# Ignore OSX stuff
**/.DS_Store
*.xcworkspace
*.pbxuser
*.mode1
*.mode1v3
DerivedData


# Created by https://www.gitignore.io/api/c++,cmake

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
